.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.game-tile {
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
    width: calc(25% - 6px);
    text-align: center;
}

.game-tile.selected {
    background-color: green;
}

.game-tile.solved {
    background-color: lightgrey;
    width: calc(100% - 6px);
    font-weight: bolder;
}